/* DEFINE CSS VARIABLES*/

:root{
  --darkPrimaryColor: #0b0e11;
  --darkSecondaryColor: #101419;
  --darkTerciaryColor: #3f4347;
  --customizeColor: #d3454f;
  --white: #ffffff;
}

/* NAVBAR STYLES */

.MuiAppBar-root{
  box-shadow: none !important;
  padding: 1rem;
}

.MuiTypography-root {
    color: #3f4347;
}

.MuiBottomNavigation-root{
  background-color: var(--primaryColor) !important;
  margin-right: 3rem;
}

.MuiBottomBase-root{
  color: var(--white) !important;
}

.MuiBottomNavigationAction-root.Mui-selected{
  color: var(--customizeColor) !important;
}

.MuiToggleButtonGroup-root{
  background-color: var(--darkTerciaryColor);
  border-radius: 3rem !important;
}
.MuiToggleButtonGroup-root .MuiButtonBase-root{
  color: var(--darkSecondaryColor);
}

.MuiToggleButtonGroup-root .Mui-selected{
  color: var(--customizeColor) !important;
}

/* HOME PAGE */

#Home {
  margin-top: 96px !important;
  padding: 2rem;
  height: 80vh;
  background-color: #3f4347;
}

#Home .MuiGrid-container {
  align-items: center;
}
