/* FONTS IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* DEFINE CSS VARIABLES*/

:root {
  --darkPrimaryColor: #0b0e11;
  --darkSecondaryColor: #101419;
  --darkTerciaryColor: #3f4347;
  --customizeColor: #d3454f;
  --white: #ffffff;
}

body::-webkit-scrollbar {
    display: none;
} 

/* NAVBAR STYLES */

.MuiAppBar-root {
  box-shadow: none !important;
  padding: 1rem;
  background-color: #ffffff !important;
}

.MuiTypography-root {
  color: #3f4347;
}

.MuiBottomNavigation-root {
  margin-right: 3rem;
  background-color: transparent;
}

.MuiBottomBase-root {
  color: var(--white) !important;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: var(--customizeColor) !important;
}


/* HOME PAGE */

#Home {
  margin-top: 96px !important;
  padding: 2rem;
  height: 90vh;
}

#Home .MuiGrid-container {
  align-items: center;
}

#Home .MuiButtonBase-root:hover {
  background-color: transparent;
}

#Home .MuiButtonBase-root .MuiListItemIcon-root {
  color: var(--darkTerciaryColor);
}

#Home .MuiButtonBase-root .MuiListItemIcon-root:hover {
  color: var(--darkSecondaryColor);
}

#Home .MuiGrid-container #presentation_item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  box-shadow: none;
}

#presentation_item .presentation_subtitle {
  margin-bottom: 1rem;
}

#presentation_item .present_btn_stack {
  margin-top: 3rem;
}

#presentation_item .present_btn_stack button:hover {
  background-color: #e5e5e5;
  color: #d3454f !important;
}

#Home .MuiGrid-container #photoContainer {
  overflow: hidden;
  position: relative;
}

#Home .MuiGrid-container #photoItem {
  overflow: hidden;
  box-shadow: none;
}

/* ABOUT PAGE */

#About {
  height: 90vh;
}

#about-container {
  flex-direction: column;
  align-items: center;
}

#about-container #Title-container {
  box-shadow: none;
}

#about-container #two-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: none;
}

#avatar-container {
  margin-right: 3rem;
  box-shadow: none;
}

#avatar-container #avatar-item {
  border-radius: 2rem;
}

#desc-item {
  box-shadow: none;
}

#dates {
  margin-top: 4rem;
}

#dates .dateInfo {
  box-shadow: none;
  font-size: 1.3rem;
}

#about-container .cv-download-btn{
  text-decoration: none;
}

/* Skills Page*/

#Skills {
  height: 90vh;
  overflow: hidden;
}

#skills-container {
  flex-direction: column;
  align-items: center;
}

#Skills #Title-container {
  box-shadow: none;
}

#skills-container .two-content {
  display: flex;
  flex-direction: row;
  box-shadow: none;
}

#skills-container .two-content .MuiPaper-root {
  box-shadow: none;
}

#skills-container .two-content .MuiPaper-root .MuiAccordion-gutters {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  ;
  transition: all 0.3s;
}

#skills-container .two-content .MuiAccordionSummary-content {
  display: flex;
  flex-direction: row;
}


#skills-container .two-content .MuiSvgIcon-root {
  font-size: 2.5rem;
}

.two-content .MuiAccordionSummary-content .accordionIcon {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.two-content .MuiAccordionSummary-content .accordionTitleObject {
  font-weight: bold;
  margin-right: 8rem;
}

.two-content .MuiAccordionDetails-root{
  overflow: scroll;
  max-height: 25rem !important;
}
.two-content .MuiAccordionDetails-root::-webkit-scrollbar {
  display: none;
}
.two-content .MuiImageList-root::-webkit-scrollbar {
  display: none;
}

#listedProgramsData {
  display: flex;
  flex-direction: column !important;
}

.MuiListItemText-root {
  min-width: 100% !important;
}

.MuiListItemText-root .MuiListItemText-primary {
  font-weight: bold;
}


.MuiLinearProgress-root {
  background-color: #d2a0a4 !important;
}

.css-17282r-MuiLinearProgress-bar1 {
  background-color: var(--customizeColor) !important;
}

.listedProgramsText{
  display: flex;
  align-self: flex-start;
}

.lpSecText{
  margin-right: -2rem;
}

/* Services PAGE*/

#Services {
  height: 90vh;
}

#Services #Title-container {
  box-shadow: none;
}

#services-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.services-container {
  display: flex;
  align-items: center;
  flex-direction: row !important;
}

.service-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  margin-right: 3rem;
  padding: 1.5rem !important;
}

.service-item:last-child {
  margin-right: 0;
}

.service-header {
  display: flex;
  flex-direction: row;
}

.service-header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-header .header-text h4 {
  font-size: 1.2rem;
  color: #6f6f6f82;
}

.service-header .header-icon {
  margin-left: 2rem;
}

.service-title {
  margin-top: 1rem;
  color: #2c2c2c;
}

.service-title h3 {
  font-size: 2rem;
}

.service-viewmore {
  margin-top: 1rem;
}

/* Works Page */

#Works {
  height: 110vh;
}

#works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#works-container #Title-container {
  box-shadow: none;
}

#works-container .options-container .Mui-selected {
  color: var(--customizeColor) !important;
}

.options-container .MuiTabs-indicator {
  background-color: #d3454f;
}

#works-container .works-galery {
  display: flex;
  flex-direction: row;
}

.works-galery .galery-container {
  box-shadow: none;
}

.works-galery .galery-box::-webkit-scrollbar {
  display: none;
}

.works-galery .galery-filter {
  box-shadow: none;
}

.galery-filter .worksFilter .MuiToggleButtonGroup-root {
  box-shadow: none;
}

.galery-filter .worksFilter .css-ueukts-MuiButtonBase-root-MuiToggleButton-root {
  border: none;
}

.galery-filter .worksFilter .css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  color: var(--customizeColor);
}

/* Contact Page */

#Contact {
  height: 90vh;
  display: flex;
  align-items: center;
}

#contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #d2a0a4;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  position: relative;
  padding: 2rem;
  border-radius: 5rem;
}

.container {
  width: 50rem !important;
}

.container {
  flex-basis: 70% !important;
  max-width: 50% !important;
}

.container h4 {
  color: var(--white);
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.container h5 {
  color: var(--white);
  font-size: 1.1rem;
  margin-bottom: 2rem;
}


.avatarItem {
  margin-left: 4rem;
}

/* FOOTER */

footer {
  background-color: var(--darkSecondaryColor);
  height: 40vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

footer .boxContainer{
  justify-content: center;
  margin: 0;
  padding: 1rem;
}

footer .boxContainer ul a{
  text-decoration: none;
}

footer .boxContainer .MuiTypography-root{
  color: #fff;
  font-weight: 200;
}

footer .boxContainer .categoryText .MuiTypography-root{
  color: #d3454f !important;
}

footer .boxContainer .Social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .boxContainer .Social .css-yw020d-MuiAccordionSummary-expandIconWrapper {
  color: #fff;
}

footer .boxContainer .Social .MuiListItemIcon-root{
  max-width: 24px;
  min-width: 1.5rem;
  color: #ffffff;
}

footer .boxContainer .Social .brand{
  font-family: 'Righteous', cursive ;
  color: #d3454f;
}

/* ADDITIONAL */

.yellowTxt{
  color: #d4de50;
}

.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

.typed-fade-out {
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}